html,
body {
    margin: 0;
    padding: 0;
}
#text{
    margin: 1rem;
    font-size: 1rem;
    font-stretch: expanded;
}

@media only screen and (max-width: 600px;)
{
    .links li{
        float: left;
    }
    .links {

        float: left;
    }
}
.links {
    float: left;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 80%;
    margin-left: 190px;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 0.5rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 20px;
    width: 5rem;
    margin-left: auto;
}
.links li {
    padding: 8px;
    font-size: 18px;
    display: block;
}
.links a {
    cursor: pointer; 
    color:#008B8B;
    text-decoration: none;
    padding: 0rem;

}
.links ul li :hover{
    color:#2c3737;
    
    background-color: #006b8b;
    transition: 0.1s all;
    
}

.heading {
    text-align: center;
    background-color: #008888;
}
    


 header {
    background-color: teal;
    color: black;
    text-align: center;
    padding : 1rem;
    margin-bottom: 1rem;
 }
 footer {
    background-color: teal;
    color: white;
    text-align: center;
    position: fixed;

    right: 0;
    left: 0;
    bottom: 0;
 }
.img {
    
    align-items: center;
  
    float: left;
    padding: 0.5rem;
    max-width: 20%;
}